.tnav {
    overflow: hidden;
    opacity: 1;
    position: sticky;
    top: 0;
    margin-top: 1px;
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
    background-color: rgb(244, 255, 254);
    padding: 3px 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1000;
}

.tnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 2px;
    margin-right: 1px;
}

.tnav a:hover {
    background-color: gainsboro;
    color: black;
    border-radius: 10px;
}

.tnav a.banner:hover {
    overflow: hidden;
    background-color: white;
}

.tnav a.split {
    float: right;
    background-color: grey;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 5px;
    margin-top: 3px;
}

.tnav a.split:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tnav a.split_sf {
    float: right;
    background-color: grey;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 5px;
    margin-top: 3px;
}

.tnav a.split_sf:hover {
    background-color: orange;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tnav a.active {
    background-color: gainsboro;
    color: black;
    border-radius: 10px;
}

.tnav a.active:hover {
    background-color: rgb(121, 121, 121);
    color: black;
    border-radius: 10px;
    
}

.tnav a.split_alt {
    float: right;
    background-color: grey;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 5px;
    margin-top: 3px;
}

.tnav a.split_alt:hover {
    background-color: rgb(0, 90, 207);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}